<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WP Exam</title>
</head>
<body>
<!-- The form should submit to ReservationsController.create or ReservationsController.update,
     depending on whether we are creating or editing a reservation -->
<form th:action="@{${reservation != null} ? '/reservations/' + ${reservation.id} : '/reservations'}"  method="post">
    <div>
        <label for="guestName">Guest Name</label>
        <input type="text"
               id="guestName"
               name="guestName"
               th:value="(${reservation} != null ? ${reservation.getGuestName()} : '')"
               required>
    </div>
    <div>
        <label for="dateCreated">Date of Creation</label>
        <input type="date"
               id="dateCreated"
               name="dateCreated"
               th:value="(${reservation} != null ? ${reservation.getDateCreated()} : '')"
               required>
    </div>
    <div>
        <label for="daysOfStay">Days of Stay</label>
        <input type="number"
               id="daysOfStay"
               name="daysOfStay"
               th:value="(${reservation} != null ? ${reservation.getDaysOfStay()} : '')"
               required>
    </div>
    <div>
        <label for="roomType">Room Type</label><br/>
        <select id="roomType" name="roomType" multiple="multiple" size="5">
            <option th:if="${reservation} != null"
                    th:selected="${reservation.getRoomType() != null &&
                                reservation.getRoomType().name() == type.name()}"
                    th:each="type: ${roomTypes}"
                    th:value="${type.name()}"
                    th:text="${type.name()}">
            </option>
            <option th:if="${reservation} == null"
                    th:each="type: ${roomTypes}"
                    th:value="${type.name()}"
                    th:text="${type.name()}">
            </option>

        </select>
    </div>
    <div>
        <label>Hotel</label><br/>
        <select id="hotel" name="hotelId" multiple="multiple" size="5">
            <option th:if="${reservation} != null"
                    th:selected="${reservation.getHotel() != null &&
                                reservation.getHotel().getId() == htl.getId()}"
                    th:each="htl: ${hotels}"
                    th:value="${htl.getId()}"
                    th:text="${htl.getName()}">
            </option>
            <option th:if="${reservation} == null"
                    th:each="htl: ${hotels}"
                    th:value="${htl.getId()}"
                    th:text="${htl.getName()}">
            </option>
        </select>
    </div>

    <button id="submit" type="submit">Submit</button>
    <a id="back" href="/reservations" type="button" class="btn btn-primary">Back to reservations</a>
</form>

<div>
    <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>

</body>
</html>
